/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: #333;
	background-color: #;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background: rgb(189,195,199);
    background: linear-gradient(90deg, rgba(189,195,199,1) 14%, rgba(44,62,80,1) 100%);
}

.resume-main {
}

.language-progress {
	background-color: orange;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: "•";
	color: #bdc3c7;
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: ;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

h6 {
	font-style: italic;
}

h2 {
	margin-bottom: 24px;
}

.biography-item row mb-2 {
	margin-top: 40px;
}

.resume-aside {
	background-color: #f3f3f3;
}

.d-flex {
	background-color: ;
}

h1 {
	color: #;
}

h5 { 
	font-family: ui-monospace, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h4 {
	font-weight: 600;
}

.col-md-5 {
	background-color: #f3f3f3;
}